UILibrary.Olap/UILibrary.Olap.MergeModule.Samples.Src/INSTALLDIR/Samples/UITest.Silverlight/SrvRef/Init/InitializeWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="InitConnectionString">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="connectionName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="connectionString" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InitConnectionStringResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InitConnectionStringResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InitConnectionStringSoapIn">
    <wsdl:part name="parameters" element="tns:InitConnectionString" />
  </wsdl:message>
  <wsdl:message name="InitConnectionStringSoapOut">
    <wsdl:part name="parameters" element="tns:InitConnectionStringResponse" />
  </wsdl:message>
  <wsdl:portType name="InitializeWebServiceSoap">
    <wsdl:operation name="InitConnectionString">
      <wsdl:input message="tns:InitConnectionStringSoapIn" />
      <wsdl:output message="tns:InitConnectionStringSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="InitializeWebServiceSoap" type="tns:InitializeWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InitConnectionString">
      <soap:operation soapAction="http://tempuri.org/InitConnectionString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="InitializeWebServiceSoap12" type="tns:InitializeWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InitConnectionString">
      <soap12:operation soapAction="http://tempuri.org/InitConnectionString" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InitializeWebService">
    <wsdl:port name="InitializeWebServiceSoap" binding="tns:InitializeWebServiceSoap">
      <soap:address location="http://localhost:1688/InitializeWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="InitializeWebServiceSoap12" binding="tns:InitializeWebServiceSoap12">
      <soap12:address location="http://localhost:1688/InitializeWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>